.Section {
    background-color: #0d7486;
    display: flex;
    flex-wrap: wrap;
    color: beige;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    justify-content: center;
    gap: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .Section {
        padding: 15px;
    }
}
.cont{
    text-align: center;
    background-color: #0d7486;
    color: rgb(0, 255, 115);
    border-radius: 5px;
    padding: 20px;
    margin: 25px;
}
